{%extends 'base.html'%}
{% load bootstrap4%}
{%load static%}

{{block.super}}
{%block content%}


{{form.media}}

<div class="col-lg-5 my-auto">
  <div class="device-container">

    {% if brands%}
    <h2>Found {{ brands|length }} of searched term {{message}}</h2>

    {% else %}
    <h2> Found 0 project brands for the search term {{message}}</h2>
    {% endif %}



    {% if brands%}
    {% for brands in brands %}

    <h1>Brand: {{brands.brand}}</h1>
    <h2>Click photo to view more</h2>
    <a href="{%url 'gari' brands.id%}"><img src="{{brands.image.url}}" alt="image"
        style="height:300px;width: 300px;"></a>
  </div>

  {% endfor %}
  {% endif %}
</div>

{%endblock%}